@using ShoppingMobile.Models.Entities
@model string
@{
    ViewBag.Title = "GetPeople";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOpt = new AjaxOptions
    {
        UpdateTargetId = "tableBody",
        Url = Url.Action("GetDataUser"),
        LoadingElementId="loading",
        LoadingElementDuration = 1000,
        OnSuccess = "processData"
    };
}

<script type="text/javascript">
 function processData(data) {
 var target = $("#tableBody");
 target.empty();
 for (var i = 0; i < data.length; i++) {
 var person = data[i];
 target.append("<tr><td>" + person.FirstName + "</td><td>"
 + person.LastName + "</td><td>" + person.Role + "</td></tr>");
 }
 }
</script><h2>GetPeople</h2>
<div id="loading" class="load" style="display:none">
    <p>Loading Data...</p>
</div>
<table>
    <thead><tr><th>First</th><th>Last</th><th>Role</th></tr></thead>
    <tbody id="tableBody">
        @Html.Action("GetDataUser", new { selectedRole = Model })
    </tbody>
</table>
@using (Ajax.BeginForm(ajaxOpt))
{
    <div>
        @Html.DropDownList("selectedRole","All")
        <button type="submit">Submit</button>
    </div>
}
<div>
  @foreach(var item in Enum.GetNames(typeof(Role)))
  {
    <div class="ajax">
        @Ajax.ActionLink(item,"GetPeople",new {selectedRole=item },
       new AjaxOptions { UpdateTargetId = "tableBody", Url = Url.Action("GetDataUser", new { selectedRole = item }),OnSuccess= "processData" })
    </div>
  }
</div>
